<!--========== FOOTER ==========-->
<footer class="footer section bd-container">
    <div class="footer__container bd-grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">Ezaz </a>
            <span class="footer__description">Restaurant</span>
            <div>
                <a href="https://www.facebook.com/azimbekabdurasulov/" target="_blank" class="footer__social"><i
                        class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/azim_29_01/" target="_blank" class="footer__social"><i
                        class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/azimjon-abdurasulov-aa10671b3/" target="_blank"
                    class="footer__social"><i class="bx bxl-linkedin"></i></a>
                <a href="https://github.com/azimxxm" target="_blank" class="footer__social"><i
                        class="bx bxl-github"></i></a>
                <a href="https://t.me/azim_01_29" target="_blank" class="footer__social"><i
                        class="bx bxl-telegram"></i></a>


            </div>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Teams</h3>
            <ul>
                <li><a href="{% url 'home' %}" class="footer__link">Delivery</a></li>
                <li><a href="{% url 'home' %}" class="footer__link">Pricing</a></li>
                <li><a href="{% url 'home' %}" class="footer__link">Fast food</a></li>
                <li><a href="{% url 'home' %}" class="footer__link">Reserve your spot</a></li>
            </ul>
        </div>


        <div class="footer__content">
            <h3 class="footer__title">Adress</h3>
            <ul>
                <i class="fas fa-shipping-fast"> Zip code: 11200</i>
                <i class="fas fa-envelope-open-text"> Tashkent region Yangiyo'l ciry</i>
                <i class="fas fa-phone"> (998) 99 409-01-29</i>
                <i class="fas fa-envelope-open-text"> www.azim777.com@gmail.com</i>
            </ul>
        </div>
    </div>

    <p class="footer__copy">&#169; 2021 Bedimcode. All right reserved</p>
</footer>