<!--========== HOME ==========-->
{% load static %}
<section class="home" id="home">
    <div class="home__container bd-container bd-grid">
        <div class="home__data">
            <h1 class="home__title">Ezaz Restaurant</h1>
            <h2 class="home__subtitle">Try the best food of <br> the week.</h2>
            <a href="#" class="button"><i class="far fa-eye"> View Menu </i></a>
        </div>

        <img src="{% static 'img/home.png' %}" alt="" class="home__img">
    </div>
</section>