<!--========== HEADER ==========-->
<header class="l-header" id="header">
    <nav class="nav bd-container">
        <a href="#" class="nav__logo"><i class="fas fa-hamburger fa-3x"></i></a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="#home" class="nav__link active-link"><i class="fas fa-home"> Home</i></a></li>
                <li class="nav__item"><a href="#about" class="nav__link"><i class="fas fa-info-circle"> About</i></a></li>
                <li class="nav__item"><a href="#services" class="nav__link"><i class="fas fa-user-cog"> Services</i></a></li>
                <li class="nav__item"><a href="#menu" class="nav__link"><i class="fas fa-stream"> Menu</i></a></li>
                <li class="nav__item"><a href="#contact" class="nav__link"><i class="fas fa-address-card"> Contact us</i></a></li>

                <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>